# Prerequisites
*.d

# Compiled Object files
bin/*
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled libraries
lib/*
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Fortran module files
*.mod
*.smod

# Executables
build
*.exe
*.out
*.app

# Mac Specific
.DS_Store
